body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.typewriter-effect {
  position: relative;
  color: hsl(0, 0%, 68%);
  /* font-weight: bold !important; */
  /* font-family: "Anonymous Pro", monospace !important; */
  /* letter-spacing: 7px !important; */
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  /* white-space: nowrap; */
  white-space: pre-wrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

.text-outline-wrapper {
  width: fit-content;
  max-width: 100px;
  height: fit-content;
  border: 2px solid rgb(134, 133, 133);
  margin-top: 10px;
  margin-left: 10px;
  background: white;
  text-align: left;
  /* max-height: 100px; */
}
